@keyframes slide-in {
  from {
    transform: translateY(-80rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-in--up {
  from {
    transform: translateY(80rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0rem);
  }
  to {
    transform: translateY(-80rem);
  }
}
