@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap');
:root {
  /* colors */
  --primary-dark: #171717;
  --primary-light: #ff385c;
  --off-white: #f7fbfb;
  --pure-white: #fff;

  /* typography */
  --monospace: 'Roboto Mono', monospace;
  --sans-serif: 'Roboto', sans-serif;

  /* dimensions */
  --input-height: 2.5rem;
  --btn-height: 3rem;
  --btn-height--secondary: 2.5rem;
  --input-max-width: 30rem;

  /* margins */
  --grouped-items-margin-s: 0.5rem;
  --grouped-items-margin-l: 1.5rem;
  --distanced-items-margin: 2rem;
  --section-separator: 4rem;
}
* {
  box-sizing: border-box;
  /* border: 1px solid tomato; */
}

body {
  font: 400 14px/22px var(--sans-serif);
  background-color: var(--primary-dark);
}

button {
  font: 400 16px/24px var(--monospace);
  cursor: pointer;
  border: none;
  outline: none;
  background-color: var(--pure-white);
  color: var(--primary-dark);
  letter-spacing: 0.5px;
  transition: border-radius 0.25s ease-out, color 0.25s ease-out;
}

button:hover {
  background-color: var(--primary-light);
  color: var(--pure-white);
}

input {
  padding: 0.5rem;
}

input:focus {
  outline: 3px solid var(--primary-dark);
}

#app {
  padding: 0.5rem;
  max-width: 40rem;
  margin: 2rem auto 4rem auto;
}

.material-icons {
  margin-right: 0.25rem;
}

.modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-light);
  transform: translateY(-80rem);
}
