:root {
  --input-height: 2rem;
  --btn-height: 2.5rem;
}

* {
  box-sizing: border-box;
  /* border: 1px solid teal; */
}

body {
  text-align: center;
  font: 400 14px/22px sans-serif;
}

.add-contact__form {
  display: flex;
  flex-direction: column;
}

.add-contact__form > label {
  align-self: flex-start;
  text-transform: capitalize;
}

.add-contact__form > input {
  height: var(--input-height);
  margin-bottom: 1.5rem;
}

.add-contact__submit-btn {
  height: var(--btn-height);
}

.contact {
  border: 1px solid tomato;
}

.contact ul {
  list-style: none;
  padding: 0;
}
